# Ignorar ambiente virtual (O MAIS IMPORTANTE)
venv/
__pycache__/

# Ignorar datasets (são pesados demais para o Git comum)
datasets/

# Ignorar pastas de cache do VS Code e Python
.vscode/
*.pyc

# Ignorar todos os logs de treino (para não poluir)
runs/

# Manter apenas o melhor modelo (vamos mover ele manualmente depois)
!best.pt